.top-nav-collapse {
    background-color: #232427 !important;
}

.btn-scrollTop {
    border-radius: 35px;
    margin-left: 92%;
    display: block;
    width: 70px;
    height: 70px;
    bottom: 5%;
    position: fixed;
}

.img-profile {
    opacity: 0.6;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #232427 !important;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #232427 !important;
    }
}