<div>
    <!-- Section: Features v.4 -->
    <section class="container my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Tecnologías dominadas:</h2>
        <!-- Section description -->
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">
            Como desarrollador tengo conocimiento de las herramientas tecnológicas más actuales para realizar mi trabajo, y me mantengo siempre actualizado en este medio.
        </p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4">

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <!-- <i class="fa fa-2x fa-flag-checkered deep-purple-text"></i> -->
                        <img src="../../assets/img/tecnologias/html.png" class="img-responsive" width="100%">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">HTML 5</h5>
                        <p class="grey-text justify">HTML5 es la quinta revisión importante del lenguaje básico de la World Wide Web, HTML.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <!-- <i class="fa fa-2x fa-flask deep-purple-text"></i> -->
                        <img src="../../assets/img/tecnologias/css.png" class="img-responsive" width="100%">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">CSS 3</h5>
                        <p class="grey-text justify">CSS (Cascading Style Sheets, u Hojas de Estilo en Cascada) es la tecnología desarrollada por el World Wide Web Consortium (W3C) con el fin de separar la estructura de la presentación web.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <!-- <i class="fa fa-2x fa-flask deep-purple-text"></i> -->
                        <img src="../../assets/img/tecnologias/mongodb.png" class="img-responsive" width="100%">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Mongo DB</h5>
                        <p class="grey-text justify">MongoDB es un sistema de base de datos NoSQL orientado a documentos, desarrollado bajo el concepto de código abierto. MongoDB forma parte de la nueva familia de sistemas de base de datos NoSQL.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 text-center align-self-center">
                <img class="img-fluid" src="../../assets/img/tecnologias/meanstack.png">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <!-- <i class="fa fa-2x fa-heart deep-purple-text"></i> -->
                        <img src="../../assets/img/tecnologias/angular.png" class="img-responsive" width="100%">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Angular</h5>
                        <p class="grey-text justify">Angular, es un framework de JavaScript de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página (SPA).</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <!-- <i class="fa fa-2x fa-flash deep-purple-text"></i> -->
                        <img src="../../assets/img/tecnologias/nodejs.png" class="img-responsive" width="100%">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Node JS</h5>
                        <p class="grey-text justify">Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación ECMAScript.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">

                    <!-- Grid column -->
                    <div class="col-2">
                        <!-- <i class="fa fa-2x fa-flask deep-purple-text"></i> -->
                        <img src="../../assets/img/tecnologias/express.png" class="img-responsive" width="100%">
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3">Express JS</h5>
                        <p class="grey-text justify">Express es un framework web transigente, escrito en JavaScript y alojado dentro del entorno de ejecución NodeJS.</p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Features v.4 -->

    <!-- <hr class="container"> -->

    <!-- Projects section v.3 -->
    <section class="container my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">
            <small>
          <i class="fa fa-code fa-2x red-text"></i>
        </small> SKILLS
        </h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5">Nivel de conocimiento en distintas tecnologías.</p>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-6">

                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/html.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">HTML 5</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 90%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/css.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">CSS 3</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 80%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/nodejs.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">Node JS</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 35%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/mongodb.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">Mongo DB</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 45%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/mysql.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">MySQL</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 70%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/express.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">Express JS</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 30%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->

            </div>
            <div class="col-lg-6">
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/js.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">JS</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 60%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/ts.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">TS</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 70%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/php.svg" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">PHP</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 50%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/jquery.gif" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">Jquery</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 50%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/bootstrap.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">Bootstrap</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 80%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                <hr>
                <!-- Grid row -->
                <div class="row mb-3">
                    <div class="col-md-3 col-2">
                        <img src="../../assets/img/tecnologias/github.png" class="img-responsive img-skill">
                    </div>
                    <div class="col-md-9 col-10">
                        <h5 class="font-weight-bold mb-3">Github</h5>

                        <div class="progress" style="height: 20px">
                            <div class="progress-bar" role="progressbar" style="width: 65%; height: 20px"></div>
                        </div>
                    </div>
                </div>
                <!-- Grid row -->


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">
        <div style="display: none">

            <h2 class="h1-responsive font-weight-bold text-center my-5">
                <i class="fa fa-folder-o"></i> PORTAFOLIO
            </h2>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-7">

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-bar-chart fa-2x indigo-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Marketing</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-music fa-2x pink-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Entertainment</h5>
                            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mb-lg-0 mb-5">
                        <div class="col-md-1 col-2">
                            <i class="fa fa-smile-o fa-2x blue-text"></i>
                        </div>
                        <div class="col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Communication</h5>
                            <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam, aperiam minima elit assumenda voluptate velit.</p>
                        </div>
                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-5">
                    <!--Image-->
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>

    </section>
    <!-- Projects section v.3 -->
</div>